### dify ###
docker/dify/nginx/conf.d/default.conf
docker/dify/volumes
!docker/dify/volumes/myscale
!docker/dify/volumes/oceanbase
!docker/dify/volumes/opensearch
!docker/dify/volumes/sandbox

### env ###
.env

### mvn ###
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### misc ###
.DS_Store
*.pem
